{% extends 'base.html' %}

{% block title %}Calendar{% endblock %}

{% block content %}

<div class="jumbotron d-flex align-items-center w-100 h-100 bg-dark">
    <div class="container text-center">
        <div class="row no-gutters" style="height:8%">
            <p class="col">{{months[0]['month_info']}}</p>
        </div>
        <div class="row" style="height:8%">
            {% for week_day in ['MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT', 'SUN'] %}
                <div class="col" style="font-family:'Comic Sans MS', cursive, sans-serif">
                    {{week_day}}
                </div>
            {% endfor %}
        </div>
        <div class="row" style="height:14%">
            <div class="col">
                <div class="row no-gutters h-100">
                    <div class="col"><img class="img-fluid h-100 w-100" src="{{Movie.objects.get(id=1).poster}}"></img></div>
                    <div class="col"><img class="img-fluid h-100 w-100" src="{{Movie.objects.get(id=2).poster}}"></img></div>
                    <div class="col"><img class="img-fluid h-100 w-100" src="{{Movie.objects.get(id=2).poster}}"></img></div>
                    <div class="col"><img class="img-fluid h-100 w-100" src="{{Movie.objects.get(id=2).poster}}"></img></div>
                </div>
                <div class="row no-gutters">
                    <p class="col text-secondary">1</p>
                </div>
            </div>
            <div class="col">
                <div class="row no-gutters h-100">
                    <div class="col"><img class="img-fluid h-100 w-100" src="{{Movie.objects.get(id=1).poster}}"></img></div>
                    <div class="col"><img class="img-fluid h-100 w-100" src="{{Movie.objects.get(id=2).poster}}"></img></div>
                </div>
                <div class="row no-gutters">
                    <p class="col text-secondary">1</p>
                </div>
            </div>
            {% for col in range(5) %}
                <div class="col">
                </div>
            {% endfor %}
        </div>
        <hr class="row" style="border-color:gray;">
        {% for row in range(4) %}
        <div class="row no-gutters" style="height:14%">
            {% for col in range(7) %}
            <div class="col">
            </div>
            {% endfor %}    
        </div>
        <hr class="row" style="border-color:gray;">
        {% endfor %}
    </div>
</div>


{% endblock %}