{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}
<div class="jumbotron d-flex align-items-center w-100 h-100 m-0 bg-dark">
<div class="container">
    <div class="row">
        <div class="col">
            <img class="img-fluid rounded w-100" 
                src="https://media1.tenor.com/images/a7e47bf8836682326103263de7b570da/tenor.gif?itemid=13804885"></img>
        </div>
        <div class="col">
            <blockquote>
                <h2><i class="fas fa-quote-left"></i>
                    Watching movies is my passion. As being good at time management,
                    I want you to be the same, especially with movies.
                    </h2>
                <h2>All copyrighted materials on the m4u are deployed under fair use.
                    <i class="fas fa-quote-right"></i></h2>
                <footer class="blockquote-footer">Lone Leon</footer>
            </blockquote>
            <p>
            </p>
        </div>
    </div>
</div>
</div>
{% endblock %}